@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: underline white;
}

a:hover {
  color: lightgrey;
  text-decoration: underline lightgrey;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  
  justify-content: center;

  background-color: #1a1a1a;
  color: black;
}

h1, h2, h3, p {
  color:white;
}

div {
  border-radius: 5px;
}

#main-bar {
  width: 80vw;
  min-height: 100vh;
  margin:auto;
  box-shadow: 0 0 .2rem .25rem;
}

header {
  position: relative;
  border-bottom: .1rem solid white;
}
#header-image {
  display: block; /*default for images is inline, causing a gap*/
  width: 100%;
  height: 100%;
}
#header-text {
  z-index: 100;

  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;

  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  text-shadow: 0px 0px 10px #000000;
}

#blog-info {
  min-height: 25vh;
  text-align: center;
  display: flex; /*default = horizontal*/
  border-radius: 0;

  margin-bottom: 1rem;
}

#about-container {
  margin: 1rem;
  margin-right: .5rem;
  margin-bottom: 0;
  flex: 1;
}

#about-body {
  text-align: justify;
  margin: 1rem;
}

#contacts-container {
  margin: 1rem;
  margin-left: .5rem;
  margin-bottom: 0;
  flex: 1;
}

#contact-methods-list {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 1rem;
  margin-right: 1rem;
}
.contact-row {
  display: flex;
  align-items: center;
  text-align: center;
}
.contact-method {
  flex: 1;
  text-align: right;
  
  padding-right: 1rem;
  border-right: 1px solid;
}
.contact-value {
  flex: 1;
  text-align: left;
  padding-left: 1rem;
}

#posts-list {
  display: flex;
  flex-direction: column;
}

#posts-list > .hue-button {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  overflow: hidden; /*makes the div enclose the margin of the .blog-content*/
}
.post-preview-title {
  text-align: center;
}
.post-preview-body {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}
.post-preview-content {
  text-align: justify;
  flex: 1;
}
.post-preview-image {
  flex: 1;
  align-self: center; /*makes the images resize vertically instead of stretching*/
  max-width: 50%;
  border-radius: 3px;
}

.posts-loading, .posts-end {
  width: 100%;
  text-align: center;
}

hr {
  color: white;
  background-color: white;
  box-sizing: border-box;
  height: .1rem;
  border-radius: 0;
  
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}


.post-details-header {
  display: flex;
}

.post-details-header > .hue-button {
  color: white;
  font-size: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 1rem;
  width: 15%;

  margin-right: 0;
}
.post-details-header > h2 {
  width: 85%;
  text-align: right;
  
  font-size: 1.5rem;
  padding-right: 1rem;

  margin-left: 0;
  margin-left: 0;
  margin-right: 0;
}

.post-details-body {
  display: block;
  text-align: center;
}

.post-details-body > div {
  margin-left: 1rem;
  margin-right: 1rem;
}

.post-details-body > div > p {
  text-align: justify;
}

.post-details-image-left {
  width:25rem;
  float:left;
  margin-right: 2rem;
}

.post-details-image-right {
  width:25rem;
  float:right;
  margin-left: 2rem;
}