@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
}

.App {
  justify-content: center;
  height: 100%;
}

#root {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #eeeeee;
  color: black;
  justify-content: center;
}

div {
  border-radius: 3px;
}

#main-bar {
  width: 80vw;
  min-height: 100%;
  margin:auto;
  box-shadow: 0px 0px 3px 2px;
}

header {
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1.5px solid white;
}
#header-image {
  width: 100%;
}
#header-text {
  position: absolute;
  text-shadow: 0px 0px 10px #000000;
}

#blog-info {
  color: white;
  min-height: 25vh;
  text-align: center;
  display: flex; /*default = horizontal*/
  border-radius: 0;
  margin-bottom: 0;
}

#about-container {
  margin: 15px;
  margin-right: 7.5px;
  margin-bottom: 0;
  flex: 1;
}

#about-body {
  text-align: justify;
  margin: 15px;
}

#contacts-container {
  margin: 15px;
  margin-left: 7.5px;
  margin-bottom: 0;
  flex: 1;
}

#contact-methods-list {
  display: grid;
  grid-template-columns: auto auto;
}
.contact-row {
  display: flex;
  align-items: center;
}
.contact-method {
  flex: 1;
  text-align: right;
  
  padding-right: 15px;
  border-right: 1px solid;
}
.contact-value {
  flex: 1;
  text-align: left;
  padding-left: 15px;
}

#posts-list {
  color: white;
  display: flex;
  flex-direction: column;
}

.post {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  overflow: hidden; /*makes the div enclose the margin of the .blog-content*/
}
.post-title {
  text-align: center;
}
.post-body {
  display: flex;
  gap: 15px;
  margin: 15px;
}
.post-content {
  text-align: justify;
  flex: 1;
}
.post-image { 
  flex: 1;
  align-self: center; /*makes the images resize vertically instead of stretching*/
  max-width: 50%;
  border-radius: 3px;
}

.posts-loading, .posts-end {
  color: white;
  width: 100%;
  text-align: center;
}

.separator {
  background-color: white;
  box-sizing: border-box;
  height: 1px;
  margin: 15px;
  border-radius: 0;
}